body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    background: url('https://st2.depositphotos.com/1813545/11899/i/450/depositphotos_118995050-stock-photo-fish-shoal-under-water-surface.jpg') no-repeat center center fixed;
    background-size: cover;
}

header {
    color: white;
    padding: 1rem;
    text-align: center;
    background-image: url('image\ \(10\).jpg');
    background-size:cover;
    background-position:0px -320px; 
    background-repeat: no-repeat; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
header .logo img {
    max-width: 100px;
    height: auto;
    margin-left: 30px;
}
header .name h1 {
    margin: 0;
    font-size: 1.8rem;
    text-wrap:wrap;
    color: rgb(27, 27, 55);
    margin-right: 70px;
}


.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.container h2 {
    color: #333;
    margin-top: 20px;
}

.container p,
.container ul {
    line-height: 1.6;
    margin-bottom: 20px;
}

.container ul {
    list-style-type: disc;
    padding-left: 20px;
}

