.navbar {
    overflow: hidden;
    background-color: #333;
    z-index: 10;
}
.navbar a, .dropdown .dropbtn {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.2s, color 0.2s;
}
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #ddd;
    color: black;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    transition: background-color 0.2s, color 0.2s;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: background-color 0.2s, color 0.2s;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}
@media screen and (max-width: 600px) {
    .navbar a, .dropdown .dropbtn {
        float: none;
        display: block;
        text-align: left;
    }
    .dropdown-content {
        position: relative;
    }
    .dropdown-content a {
        text-align: left;
    }
}
 header {
 background-color: #008080;  
    color: white;
    padding: 1rem;
    text-align: center;
    background-image: url('image\ \(10\).jpg');
    background-size:cover; 
    background-position:0px -320px; 
    background-repeat: no-repeat; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
header .name h1 {
    margin: 0;
    font-size: 1.8rem; 
    text-wrap:wrap;
    color: rgb(27, 27, 55);
    margin-right: 70px;
} 

img, .box-image {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 8px;
    border: 2px solid #008080;
}

.box-content {
    width: 100%;
    text-align: center;
}

/* Responsive Design */
@media (min-width: 600px) {
    .content-box {
        flex-direction: row;
        align-items: center; /* Ensure items are centered vertically */
        justify-content: space-between;
    }
    
    .box-image {
        width: 20%;
        margin-left: 20px;
    }
    
    .box-content {
        flex: 1;
        text-align: left;
    }
}